<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Synthetic Friend</title>
    <link rel="stylesheet" href="static/style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"
            integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reqwest/2.0.5/reqwest.min.js"
            integrity="sha256-AABtmZB6S65gxpY8B5Q1xVtnVp2HBrITDdwsninrCS4=" crossorigin="anonymous"></script>
    <script src="/static/api.js"></script>
</head>
<body>
<div class="viewport flex-container">
    <div id="leftPanel">
        <video autoplay muted id="backgroundVideo">
            <source src="static/IU2_intro.mp4" type="video/mp4">
        </video>
        <audio id="backgroundAudio">
            <source type="audio/wav">
        </audio>
        <div id="bottomDiv">
            <button id="recordButton" disabled onclick="triggerRecord()"></button>
        </div>
    </div>
    <div id="rightPanel">
        <p class="bot-chat">마이크 버튼을 눌러 말을 걸어 주세요</p>
    </div>
</div>
</body>
<script>
    const SPINNER = '<i class="fas fa-spinner fa-pulse"></i>';
    const VIDEO_ID = "backgroundVideo";

    function randomChoice(arr) {
        return arr[Math.floor(arr.length * Math.random())];
    }

    document.getElementById(VIDEO_ID).addEventListener("ended", () => {
        changeSrc(VIDEO_ID, randomChoice([
            "static/IU2_nothing1.mp4",
            "static/IU2_nothing2.mp4",
            "static/IU2_nothing3.mp4",
        ]));
    }, false);

    function changeSrc(id, src) {
        let elem = document.getElementById(id);
        elem.pause();
        elem.children[0].setAttribute('src', src);
        elem.load();
        elem.play();
    }

    function printError() {
        changeLastBubbleHTML("서버 연결 도중 에러가 발생했습니다");
    }

    function handleSpeechGeneration(data) {
        changeSrc(VIDEO_ID, randomChoice([
            "static/IU2_talk1.mp4",
            "static/IU2_talk2.mp4",
        ]));
        deleteLastBubble();
        changeSrc("backgroundAudio", data.audio);
    }

    function handleBotResponse(data) {
        changeLastBubbleHTML(data.text);
        // changeSrc(VIDEO_ID, data.video);

        let textOnly = data.text.substring(0, data.text.lastIndexOf('(') - 1);
        if (textOnly.charAt(textOnly.length - 1) !== '?') {
            textOnly = textOnly + '.';
        }
        addBubble('bot-chat', '음성을 합성하는 중입니다');
        generateSpeech(textOnly, handleSpeechGeneration);
    }

    function handleSpeechToText(res) {
        if (typeof res === "string") {
            changeLastBubbleHTML(res);
            addBubble('bot-chat', SPINNER);
            generateResponse(res, handleBotResponse, printError);
        } else {
            deleteLastBubble();
        }
    }

    let recording = false;
    let recordButton = document.getElementById("recordButton");

    navigator.permissions.query({name: 'microphone'}).then(function (result) {
        function enableRecordButton() {
            recordButton.disabled = (result.state != 'granted');
        }

        result.onchange = function () {
            enableRecordButton();
        };

        enableRecordButton();
    });

    function updateRecord() {
        if (recording) {
            recordButton.innerHTML = SPINNER;
        } else {
            recordButton.innerHTML = '<i class="fas fa-microphone"></i>';
        }
    }

    let mediaRecorder = null;

    function triggerRecord() {
        recording = !recording;
        updateRecord();

        if (recording) {
            navigator.mediaDevices.getUserMedia({audio: true, video: false})
                .then((stream) => {
                        const options = {mimeType: 'audio/webm;codecs=opus'};
                        mediaRecorder = new MediaRecorder(stream, options);

                        mediaRecorder.addEventListener('dataavailable', function (e) {
                                if (e.data.size > 0) {
                                    changeSrc(VIDEO_ID, "static/IU2_wait.mp4");
                                    speechToText(e.data, handleSpeechToText, printError);
                                }
                            }
                        );

                        mediaRecorder.start();
                    }
                )
        } else {
            if (mediaRecorder != null) {
                mediaRecorder.stop();
                addBubble("human-chat", SPINNER);
                mediaRecorder = null;
            }
        }
    }

    updateRecord();
    navigator.mediaDevices.getUserMedia({audio: true, video: false});
</script>
</html>